<h1>Hi I am check_test_sentence SHOW</h1>
<h2><%= @check_test_sentence.sentence %></h2>
<% if @check_test_sentence.pictures.present? %>
    <% @check_test_sentence.pictures.each do |p| %>
        <%= image_tag(p.image.url, height: '250', width: '300')%>
    <% end %>
<% else %>
<% end %>

<%= form_for [@check_test_sentence, @check_test_answer] do |f| %>
    <div class = "form">
        <%= f.collection_radio_buttons(:answer_of_check_test_option_id, CheckTestSentence.find(params[:id]).check_test_options.all.order("RAND()"), :id, :option) do |b| %>
            <%= b.label {b.radio_button + b.text } %><br>
            <% if b.object.pictures.first.present? %>
                    <% b.object.pictures.each do |p| %>
                        <%= image_tag(p.image.url, height: '250', width: '300')%><br>
                    <% end %>
            <% else %>
            <% end %>
        <% end %>
    </div>

        <%= f.hidden_field :ids, :value =>  params[:ids].map!(&:to_i) %>
        <%= f.hidden_field :check_test_id, :value =>  @check_test_id %>
        <%= f.hidden_field :started_time, :value =>  params[:started_time] %>
        <%= f.hidden_field :field_id, :value =>  params[:field_id] %>
        <%= f.hidden_field :student_id, :value =>  @student.id %>
        
        <%= f.submit '答える'%>
        
<% end %>
